markedtoc {
	
	li, ul {
		list-style-type: none;
	}
	ul {
		padding-left: 0;
		margin-left: 10px;
	}
	li {
		padding-left: 0;
		margin: 3px 0 0 0;
		a {
			font-weight: normal;
			&:hover {
				font-weight: bold;
			}
		}
	}
	.custom-class {
		color: red;
	}
}