
	<div class="row">		
		<ul class="list-unstyled ul-no-style" ng-sortable="$ctrl.sortableConfig">
			
			<li class="bookmark" ng-class="{ isActive: $ctrl.pwArticleList.isArticleSelected(item), isEdit: $ctrl.pwArticleList.isEditMode }"
					ng-repeat="item in $ctrl.items | orderBy : 'index' | isTagIn: $ctrl.pwArticleList.selectedTags" 
					ng-show='!item.hidden' 
					ng-click="$ctrl.pwArticleList.toggleArticle(item)">
				
				<a class="bookmark-img" ui-sref="app.articles.view({articleId: item._id})">
					<img ng-src="{{item.imgUrl}}" alt="...">
				</a>
				
				<div class="bookmark-child">
					
					<!-- Title -->
					<a ui-sref="app.articles.view({articleId: item._id})"><h3 class="bookmark-title">
						{{ ::item.title }}
					</h3></a>
					
					<!-- Overview -->
					<div class="bookmark-date">
						<span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp {{ ::item.created | date:'mediumDate' }}</span>
						<span ng-show="item.tags.length > 0">&nbsp•&nbsp</span>
						<ul class="tags">
							<!--<li ng-click='$ctrl.pwArticleList.toggleCollection(item.collectionTag)'><span>{{ item.collectionTag }}</span></li>-->
							<li ng-repeat="tag in item.tags | orderBy: tag" 
									ng-click='$ctrl.pwArticleList.toggleTag(tag)'
									ng-class="{'isActive': $ctrl.pwArticleList.isTagSelected(tag)}" ><span>{{ ::tag }}</span></li>
						</ul>
					</div>
					
				</div>
				
				<pw-item-menu item='item' ng-if="$ctrl.pwArticleList.user"></pw-item-menu>
				
			</li>
			
		</ul>
	</div>
	
	<!--
	pw-card-item selected-ids='selectedIds'
	
	-->