	
	<div class="margin-top tag-list-header">{{$state.current.url}}</div>
	
	<!--
	<ul ng-sortable>
		<li ng-repeat="item in items">{{item}}</li>
	</ul>
	-->
	
	<ul class="list-unstyled ul-no-style" ng-sortable>
		
		<li class="bookmark" pw-card-item ng-repeat="item in items | filter:search | isTagIn: activeTags" 
						 item="item" selected-ids='selectedIds' ng-show='!item.hidden'></li>
		
	</ul>
	
	<ul class="nav navbar-nav ng-animate-disabled" pw-in-header ng-show='$state.is("app.articles.list.deleted")'>

		<li>
			<a uib-popover-template="emptyPopover.templateUrl"
				 popover-trigger="outsideClick" popover-placement='bottom' popover-class='popover-viewport popover-no-margin popover-no-arrow popover-left'>
				<i class="fa fa-trash"></i>
				<span ng-show='!isEditMode()' class='hidden-xs'>&nbsp;Empty</span>
				<span ng-show='isEditMode()' class='hidden-xs'>&nbsp;Super Delete</span>
			</a>
		</li>
	
	</ul>
		
	<pw-navbar-menu dbService='Articles'></pw-navbar-menu>
	