

	<a class="bookmark-img" ui-sref="app.articles.view({articleId: item._id})">
		<img ng-src="{{item.imgUrl}}" alt="...">
	</a>
	
	<div class="bookmark-child">
		
		<!-- Title -->
		<h3 class="bookmarkr-title" ui-sref="app.articles.view({articleId: item._id})">
			{{ ::item.title }}
		</h3>	
		
		<!-- Overview -->
		<div class="bookmarkr-date">
			<span>Posted on {{ ::item.created | date:'mediumDate' }}</span>
			
			<ul class="tags">
				<!--<li>{{ item.collectionTag }}</li>-->
				<li ng-repeat="tag in item.tags | orderBy: tag" 
						ng-click='toggle("tags", tag)'
						ng-class="{'isActive': isActive('tags', tag)}" ><span>{{ ::tag }}</span></li>
			</ul>
			
		</div>
		
	</div>
	
	<pw-item-menu item='item' dbService='Articles'></pw-item-menu>
