	
	$icon-bar-width: 22px;
	$icon-dot-width: 3px;
	
	pw-header .navbar-toggle, pw-aside .sidebar-toggle {
		height: $sidebar-collapsed-width;
		margin: 0;
		padding: $navbar-padding 0px;
		border: 0;
		outline: 0;
		border-radius: 0;
		
		.icon-bar {
			display: block;
			height: 1px;
			width: $icon-bar-width;
			margin: 0 calc((#{$sidebar-collapsed-width} - #{$icon-bar-width})/2);
			background: #fff;
			+ .icon-bar { margin-top: 4px; }
		}
		.icon-dot {
			display: block;
			height: $icon-dot-width;
			width:  $icon-dot-width;
			border-radius: $icon-dot-width;
			margin: 0 calc((#{$sidebar-collapsed-width} - #{$icon-dot-width})/2);
			background: #fff;
			+ .icon-dot { margin-top: 3px; }
		}
	}
	