<section ng-show="!series">
	<h3 class="col-md-12 text-center">Add a new TV Show</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
		<form name="addForm" data-ng-submit="addShow(false)" class="form-horizontal" novalidate autocomplete="off">
			<fieldset class='fieldset-no-style'>
				
				<!-- ng-class: applies class 'xxx' if criterias ': xxx' are true. $dirty when user has interacted with the field -->
				<div class="form-group" ng-class="{ 'has-success' : addForm.showName.$valid && addForm.showName.$dirty, 'has-error' : addForm.showName.$invalid && addForm.showName.$dirty }">
					
					<!-- showName. Only validation rule is 'required' for ng-model 'showName' linked to the input object showName -->
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-video-camera"></i></div>
						<input class="form-control" type="text" name="showName" ng-model="ctrlShowName" placeholder="Enter TV show name" required autofocus>
					</div>
					
					<!-- the outer ng-messages sets the key/value collection to use. the inner ng-messages will be rendered if their statement is true (stops at the first => sets priority) -->
					<div class="help-block text-danger" ng-if="addForm.showName.$dirty" ng-messages="addForm.showName.$error"> <!-- ng-if removes elements from the DOM -->
						<div ng-message="required">TV show name is required.</div>
					</div>
					
				</div>
				
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary" ng-disabled="addForm.$invalid">Add Show</button>
				</div>
				
			</fieldset>
		</form>
	</div>
	
</section>

<section ng-show="series">

	<h3 class="col-md-12 text-center">Multiple choices for {{multipleChoicesFor}} - please select one</h3>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
		
		<div ng-repeat="serie in series">
			<input class="btn btn-primary" type="button" value={{serie.seriesname}} ng-click="addShowUnique($event)"/>
			<div class="episode">
				<p>
					<span class="glyphicon glyphicon-calendar"></span>
					{{serie.firstaired | date: 'short'}}
				</p>
				<p>
					{{serie.overview}}
				</p>
			</div>
		</div>
		
		<div class="text-center form-group">
			<button type="cancel" class="btn btn-large btn-danger" ng-click='resetForm()'>Cancel</button>
		</div>
		
	</div>

</section>

<section class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
	
	<div data-ng-show="pending" class="text-center text-warning">
		<strong><i class="fa fa-spinner fa-pulse"></i></strong>
	</div>

	<div data-ng-show="success" class="text-center text-success">
		<strong>{{success}}</strong>
	</div>
		
	<div data-ng-show="error" class="text-center text-danger">
		<strong>{{error}}</strong>
	</div>
	
</section>