# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
node_modules/


# MEAN.js app and assets
# ======================
public/_old/
uploads
modules/users/client/img/profile/uploads
config/env/local.js
config/env/local-*.js

