
	<div class="row">		
		<ul class="list-unstyled ul-no-style no-body-margin" ng-sortable="$ctrl.sortableConfig">
			
			<li class="bookmark" ng-class="{ isActive: $ctrl.pwArticleList.isArticleSelected(item), isEdit: $ctrl.pwArticleList.isEditMode }"
					ng-repeat="item in $ctrl.items | orderBy : 'index' | filter:search | isTagIn: $ctrl.pwArticleList.selectedTags" 
					ng-show='!$ctrl.item.hidden' 
					ng-click="$ctrl.pwArticleList.toggleArticle(item)">
				
				<a class="bookmark-img" ui-sref="app.articles.view({articleId: item._id})">
					<img ng-src="{{item.imgUrl}}" alt="...">
				</a>
				
				<div class="bookmark-child">
					
					<!-- Title -->
					<h3 class="bookmarkr-title"><a ui-sref="app.articles.view({articleId: item._id})">
						{{ ::item.title }}
					<a></h3>	
					
					<!-- Overview -->
					<div class="bookmarkr-date">
						<span>Posted on {{ ::item.created | date:'mediumDate' }}</span>
						<ul class="tags">
							<!--<li>{{ item.collectionTag }}</li>-->
							<li ng-repeat="tag in item.tags | orderBy: tag" 
									ng-click='$ctrl.pwArticleList.toggleTag(tag)'
									ng-class="{'isActive': $ctrl.pwArticleList.isTagSelected(tag)}" ><span>{{ ::tag }}</span></li>
						</ul>
					</div>
					
				</div>
				
			</li>
			
		</ul>
	</div>
	
	
	
	<!--
	pw-card-item selected-ids='selectedIds'
	<pw-item-menu item='item' dbService='Articles'></pw-item-menu>
	-->