
/* overwrite default height of 300px for CodeMirror (coupled w/ viewportMargin=Infinity)*/
$pw-heading-color: #d34e39;
$pw-color: #333; /*373f47 47525d */
$pw-font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
$pw-font-size: 18px;
$pw-font-size-xs: 16px;
$pw-line-height: 1.65em;
$pw-text-padding: 50px;
$pw-article-bg: transparent;

pw-article-view-edit {
	
	.slide {
		//padding-top: 10%;
	}
	
	.slide .slideRatio {
		padding-bottom: 75%;
	}
	
	.slide .slideContent {
		position: absolute;
    top: 0;  bottom: 15px;  left: 15px;  right: 15px;
		overflow: hidden;
	}
	
	.CodeMirror {
		height: auto;
		background-color: $pw-article-bg;
		font-size: $pw-font-size;
		line-height: $pw-line-height;
		margin-bottom: 1.4em;
		//padding-bottom: $pw-text-padding;
		border: 1px solid #ddd;

		pre {
			padding: 0; /* Horizontal padding of content */
		}
		
		.cm-header {
			font-family: 'League Spartan', Avenir, sans-serif;
			color: $pw-heading-color;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		
		.CodeMirror-sizer {
			margin-bottom: 20px !important;
		}
	}
	
	.row {
		
		.article-header {
			background-color: transparent;
			color: $pw-heading-color;
			font-weight: bold;
			font-size: 2em;
			font-family: 'League Spartan', Avenir, sans-serif;
			letter-spacing: 2px;
			text-transform: uppercase;
			padding: $pw-text-padding 8px 8px 8px;
			margin-bottom: 0;
		}

		.katex {
			font-size:1.1em;
			white-space: normal;
		}
		
		// class for the dragged selected item
		.article-toc-ghost {
			background-color: lighten($pw-heading-color,45%);
		}
		
		/* content text - outside edit */
		.tab-pane {
			
			position:relative;
			color: $pw-color;
			
			background-color: $pw-article-bg; /* #f7f7f7 */
			border-width: 0;
			padding: 0;
			
			&.active > .row {
				padding: 0;
				
				&.page-title {
					padding: $pw-text-padding 0 0 $pw-text-padding;
				}
			}
			
			.not-codemirror, .CodeMirror-scroll {
				padding: 20px $pw-text-padding;
				font-family: $pw-font-family;
				color: $pw-color;
			}
			
			textarea[name='tab_edit'] {
				min-width: 100%;
				max-width: 100%;
				border-width: 0 1px 0 0;
			}
			
			img {
				max-width: 100%;
				width: auto;
				height: auto;
			}

			/* headings */
			h1, h2, h3, h4, h5, h6 {

				margin-top: 40px;
				margin-bottom: 10px;
				
				font-family: 'League Spartan', Avenir, sans-serif;
				color: $pw-heading-color;
				text-transform: uppercase;
				letter-spacing: 1px;
				
				+ h1, + h2, + h3, + h4, + h5, + h6 {
					margin-top: 0;
				}
			}
			
			/* paragraphs & lists */
			p, ul, ol {
				font-size: $pw-font-size;
				line-height: $pw-line-height;
				margin-bottom: 1.1em;
			}
			
			
			ul p, ul ul, ul ol, ol p, ol ul, ol ol {
				font-size: 1em;
				margin-bottom: 1em;		
			}
			
			/*
			p > ul, p > ol {
				margin-bottom: 1em;
			}
			*/
			
			li > p {
				margin-bottom: 0.5em;
			}
			/* no margin for first child */
			h1, h2, h3, h4, h5, h6, p {
				&:first-child {
					margin-top: 0;
				}
			}
			
			code {
				color: #bf1340;
			}
			
			/* code area (highlightjs) */
			.not-codemirror pre {
				margin: 25px 0 30px 0;
				padding: 14px;
				font-size: 1.1em;
				line-height: 1.6;
				color: #333333;
				background-color: #f1f1f1;
				border: 0;
				border-left: 4px solid #ccc;
				border-radius: 0;
			}
			
			.pagination-container {
				margin-left: 15px;
				margin-right: 15px;
				margin-bottom: 30px;
				> .pagination { 
					padding:0; 
					.fa { font-size: 14px; }
				}
			}
			
		}

	}
	
	/* ---------- size dependant css ---------- */
	
	@media (max-width: $screen-xs-max) {
		.col-xs-nomargin {
			background-color: $pw-article-bg;
		}
		/* reduce padding for max readability when small real estate */
		.page-title, .not-codemirror, .CodeMirror-scroll {
			padding-left: 5px !important;
			padding-right: 5px !important;
		}
		
		/* make the text at the bottom stops before pagination dots */
		.not-codemirror, .CodeMirror-scroll {
			padding-bottom: $pw-text-padding !important;
		}
		
		/* make pagination dots always visible, reduce their size */
		.pagination-container {
			position: fixed;
			width: 100%;
			margin:0 !important;
			bottom:0;
			left:0;
			background-color: $body-bg;
			z-index:100;
			> .pagination { 
				margin-top: 20px !important;
				margin-bottom: 20px !important;
				.fa { font-size: 10px !important; }
			}
		}
		
		/* smaller font size */
		.CodeMirror, .tab-pane p, .tab-pane ul, .tab-pane ol{
			font-size: $pw-font-size-xs !important;
		}
	}
	
	/* toc visible above the text up to medium sized screens (not on the side) */
	@media (max-width: $screen-md-max) {
		
		/* toc above text */
		.pw-article-content {
			position: relative;
		}
		.tocContainer {
			position: fixed;
			left: 0;
			top: $navbar-height;
			bottom: 0;
			overflow: auto;
			width: 100%;
			max-width:500px;
			background-color: #fff;
			z-index: 150; /* to be above the pagination*/
		}
		
		/* toc look&feel*/
		.tag-list {
			margin-top: 10px;
		}
		
		.tag-list-item {
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ddd;
			font-size: $pw-font-size-xs;
			
			markedtoc ul { 
				margin-bottom: 0; 
				li { margin-top: 10px; }
			}
		}
	}
	
	/* disable toc collapse on large screens*/
	@media (min-width: $screen-lg-min) {
		.tocContainer.collapse {
			display:block;
		}
	}
	
}

