
	/* article wrapper */
	.article-bg {
		background-color: $pw-article-bg;
	}
	
	.article-aside {
		
	}
	
	/* disable aside collapse on large screens*/
	@media (min-width: $screen-lg-min) {
		.article-aside.collapse { display: block; }
	}
	
	/* aside visible above the text up to medium sized screens (not on the side) */
	@media (max-width: $screen-md-max) {
		
		.article-aside {
			display: block !important;
			position: fixed;
			padding: 0;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			overflow: auto;
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			z-index: 1030; /* to be above the pagination*/
		}
		.activate {
			visibility: visible;
			opacity: 1;
			transition: visibility 0s linear 0s, opacity 150ms;
		}

		.collapse {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s linear 150ms, opacity 150ms;
		}
	}
	
	
	@keyframes slide-in-fromLeft {
		0% { transform: translate3d(-100%,0,0); }
		100% { transform: translate3d(0%,0,0); }
	}
	@keyframes slide-in-fromRight {
		0% { transform: translate3d(100%,0,0); }
		100% { transform: translate3d(0%,0,0); }
	}
	
	@keyframes slide-out-toLeft {
		0% { transform: translate3d(0%,0,0); }
		100% { transform: translate3d(-100%,0,0); }
	}
	@keyframes slide-out-toRight {
		0% { transform: translate3d(0%,0,0); }
		100% { transform: translate3d(100%,0,0); }
	}
	