
	.tags {
		padding: 0;
		margin:0;
	}
	
	.tags li {
		
		&:first-child::before {
			content: "in ";
		}
		
		&:not(:first-child)::before {
			content: ", ";
		}
		
		/*general*/
		display: inline-block;
		cursor: pointer;
		
		span {
			color: $pw-heading-color;
		}
		
		&:hover span, &.isActive span {
			font-weight: bold;
		}
		
	}

	/*when interacted with*/
	.tags li:empty { display: none; }
	/*
	.tags li:hover {
		color: #f4f6f8;
	}
	
	//when clicked on
	.tags li.isActive {
		color: #444;
		background-color: #ffe939;
	}*/