

	/* ---------- TAG LIST: ASIDE CONTAINER ---------- */
	
	$pw-tag-list-margin-top-lg: 35px;
	
	.tag-list {
		background-color: #fff;
		margin-top: $pw-tag-list-margin-top-lg;
	}
	
	@media (min-width: $screen-lg-min) {
		.tag-list {
			position: fixed;
			margin-left: 15px;
			width: calc(100%/6); /* bootstrap has 12 col, so 100/12*2 */
			max-height: calc(100vh - #{$navbar-height} - #{$pw-tag-list-margin-top-lg});
			overflow: auto;
		}
	}
	
	@media (max-width: $screen-md-max) {
		
		// animation on show/hide
		.tag-list { transform: translateX(100%); }
		.article-aside.activate .tag-list { animation: slide-in 0.15s forwards; }
		.article-aside.collapse .tag-list { animation: slide-out 0.15s forwards; }
		
		// size & position
		.tag-list {
			float: right;
			width: 100%;
			max-width:250px;
			min-height: 100%;
			margin-top: 0;
		}
		
		// cosmetics
		.tag-list {
			border-left: 3px solid $pw-heading-color;	
		}
		
	}
	
	
	/* ---------- TAG LIST ITEM CONTAINER: SECTIONS WITH DIVIDER ---------- */
	
	.tag-list-item-container {
		padding: 0 20px;
		margin-bottom: 20px;
		&:not(:first-child) { border-top: 1px solid #ddd; }
	}
	
	.tag-list-item-container-activate {
		> .tag-list-header { cursor: pointer; }
		&.isActive > .tag-list-header, 
		&:hover > .tag-list-header {
			font-weight: bold;
			border-left: 3px solid $pw-heading-color;
			padding-left: 12px;
			margin-left: -15px;
		}
	}
	
	.tag-list-header {
		font-family: "Montserrat", sans-serif;
    color: #2C5AA0;
    text-transform: uppercase;
    letter-spacing: 1px;
		margin-top: 15px;
		padding-top: 5px;
		padding-bottom: 4px;
		margin-bottom: 11px;
	}
	
	@media (max-width: $screen-md-max) {
		.tag-list-item-container {
			padding: 0 15px;
		}
	}
	
	/* ---------- TAG LIST ITEM: SECTION ELEMENTS ---------- */

	.tag-list-item {
		
		cursor: pointer;
		font-family: $aside-font-family;
		padding: 6px 0;
		
		&.isActive > .tag-inner, &:hover > .tag-inner { color: $pw-heading-color; }
		&.isActive > .tag-inner { font-weight: bold; }
	
	}
	
	
	/* ---------- MISC ---------- */
	
	.text-super-muted {
	  color: #e1e1e1;
	}
	
	.uppercase {
		text-transform: uppercase;
	}
	
	.tag-inner {
		display: block;
	}
	
	.float-right {
		float: right;
	}
	
	.pagination > i.isActive, .pagination > i:hover {
		color: $pw-heading-color;
	}