
	.ul-no-style {
		/* list-style-type: none; */
		padding:0;
		margin:0;
	}
	
	/* each elt of the list */
	.bookmark {
		width:100%;
		//border-top: 0;
		background: #ffffff;
		display: flex;
		position:relative; /* needed for the buttons to be position: absolute */
		padding: 0 30px;
		//flex-flow: column nowrap;
		align-items: center;
	}
	
	/* card image -not used */
	.bookmark-img {
		flex-basis: 50px;
		img { width: 100%; }
	}
	
	/* rest of the card */
	.bookmark-child {
		width: 100%;
		margin: 0 30px;
		padding: 20px 0; 
		border-bottom: 1px solid #e1e1e1;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		//align-items: center;
	}
	
	.bookmarkr-title {
		font-family: 'Montserrat', 'Museo Slab', Sanchez, proxima-nova, museo-slab, helvetica, arial, sans-serif;
		font-weight: 400;
		font-size: 25px;
		margin: 0;
		padding: 0;
		color: #444;
		&:hover { 
			cursor: pointer;
			color: #888;
		}
	}
	
	.bookmarkr-date {
		display: block;
		margin-top: 5px;
		font-style: italic; 
		color: #888;
		font-size: 14px;
		> span {display: inline;}
		> ul {display: inline;}
	}
	
	.bookmark-hover {
		opacity: 0;
	}
	.bookmark:hover .bookmark-hover {
		opacity: 1;
	}
	
	.bookmark-buttons {
		
		position: absolute;
		top: 23px;
		right: 60px;
		
		cursor: pointer;
		
		
		li {
			display: inline-block;
			padding: 2px 4px;
			color: #90939a;
			transition: 0.1s all;
			-webkit-font-smoothing: antialiased;
			:hover { color: #000; }
			.isButtonActive {
				color: #f4bd2b; 
			}
		}
	}
	
	// class for the dragged selected item
	.article-list-ghost {
		background-color: lighten($pw-heading-color,45%);
	}