
	$pw-heading-color: #d34e39;
	
	.ul-no-style {
		/* list-style-type: none; */
		padding:0;
		margin:0;
	}
	
	/* each elt of the list */
	.bookmark {
		width:100%;
		border: 1px solid #ddd;
		border-top: 0;
		background: #ffffff;
		display: flex;
		position:relative; /* needed for the buttons to be position: absolute */
	}
	
	/* card image -not used */
	.bookmark-img {
		flex-basis: 100px;
		img { width: 100%; }
	}
	
	/* rest of the card */
	.bookmark-child {
		padding: 12px 15px; 
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}
	
	.bookmarkr-title {
		font-family: Sanchez, proxima-nova, museo-slab, helvetica, arial, sans-serif;
		font-weight: 400;
		font-size: 20px;
		margin: 0;
		padding: 0;
	}
	
	.bookmark-hover {
		opacity: 0;
	}
	.bookmark:hover .bookmark-hover {
		opacity: 1;
	}
	
	.bookmark-buttons {

		position: absolute;
		top: 12px;
		right: 12px;
		cursor: pointer;
		
		
		li {
			display: inline-block;
			padding: 2px 4px;
			color: #90939a;
			transition: 0.1s all;
			-webkit-font-smoothing: antialiased;
			:hover { color: #000; }
			.isButtonActive {
				color: #f4bd2b; 
			}
		}
	}
	
	pw-card-item:hover {
		cursor: pointer; 
	}
	
	// class for the dragged selected item
	.article-list-ghost {
		background-color: lighten($pw-heading-color,45%);
	}