.table-wrapper2 {
			border-radius:1px;
			
			overflow-x: auto;
			
			background: 
			
				// wut
				linear-gradient(to right, white 30%, rgba(0,0,0,0)),
				linear-gradient(to left, white 30%, rgba(0,0,0,0)) 100% 0,
			
				// shadow ellipsis - do not move when scrolling
				radial-gradient(farthest-side at   0 50%, rgba(0,0,0,.15), rgba(0,0,0,0)),
				radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.15), rgba(0,0,0,0)) 100% 0;
				
			background-repeat: no-repeat;
			background-color: white;
			background-size: 20px 100%, 20px 100%, 14px 100%, 14px 100%;
			background-attachment: local, local, scroll, scroll; 
			
		}