
	
	<div class="tag-list" pw-click-outside='$ctrl.closeThis()' is-active='!$ctrl.pwArticleView.isAsideCollapsed'>
		
		<!--
		<div class="tag-list-item-container">
			<div class="tag-list-header">Article Content</div>
		</div>
		-->
			<div ng-sortable="$ctrl.pwArticleView.sortableConfig">
				<div class="tag-list-item-container tag-list-item-container-activate" ng-class="{ isActive: tab.active, editMode: $ctrl.pwArticleView.isEditMode }" 
						 ng-repeat="tab in $ctrl.article.content">
					
					<div class='tag-list-header' ng-click="$ctrl.pwArticleView.select(tab, true)">
					
						<span>{{tab.title}}</span>
					
						<span class="float-right" ng-if="$ctrl.pwArticleView.isEditMode">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="$ctrl.renameTab(tab)"></span>
							<span>&nbsp;</span>
							<span class="glyphicon glyphicon-trash" ng-show="$ctrl.article.content.length > 1" aria-hidden="true" ng-click="$ctrl.deleteTab(tab)"></span>
						</span>
					
					</div>
					
					<markedtoc ng-if='!$ctrl.article.isSlide' eat-click-if="$ctrl.pwArticleView.isEditMode"
										 tab-body="tab.body" onclick="$ctrl.pwArticleView.select(tab, true)" is-edit-mode="$ctrl.pwArticleView.isEditMode">
					</markedtoc>
					
				</div>
			</div>
		</div>
		
		<div class="tag-list-item" ng-show="$ctrl.pwArticleView.isEditMode" ng-click="$ctrl.createNewTab()">
			<i class="fa fa-plus"></i>&nbsp&nbspAdd Tab
		</div>
		
	</div>

