	
	
	/* mixin to set the slide margins + ratio */
	
	@mixin slide-params($width, $height, $ratio, $font-size) {
		
		width: calc(#{$height} * #{$ratio});
		height: calc(#{$width} / #{$ratio});
		
		max-width: $width;
		max-height: $height;
		
		/* explanation: 
		width  = min ( screenHeight * ratio, screenWidth )
		height = min ( screenWidth / ratio, screenHeight )
		*/
		
		.tab-title h3 {
			color: black;
			font-size: calc(4/3 * #{$font-size});
		}
		
		.not-codemirror > p,
		.not-codemirror > ul,
		.not-codemirror > ol {
			font-size: $font-size;
		}
	}
	
	/*
	 * slide is used when not in fullscreen mode; it is positioned and sized inside its container;
	 * tab-pane is just a wrapper to the content
	 * slide.fullscreen stretches to fit the entire viewport, in order to add a backdrop
	 * tab-pane becomes the actual slide that gets sized
	*/
	
	
	/* look of the slide */
	.slide, .slideFullscreen > .tab-pane {
		margin: 0;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
		transition: all 0.6s ease-in-out;
		position: absolute !important; 
		background-color: #fff;
		border-radius: 5px;
	}
	
	/* padding of the slide */
	.slide > .tab-pane, .slideFullscreen > .tab-pane {
		/* reset the min height set for articles wiew (which is used to display the pagination as the bottom of the screen */
		min-height: initial;
		padding: 20px;
		/* clear all paddings & margins setup for the article view */
		> div {
			margin: 0;
			padding: 0;
		} 
		.not-codemirror, .CodeMirror-scroll {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	/* slide font size
	.slide .not-codemirror {
		> p,
		> ul,
		> ol {
			font-size: 1vw;
		}
	}
	*/
	 
	/* pagination for slides: same as xs not-slide*/
	.slide .pagination-container {
		position: fixed;
		bottom:0;
		left:0;
		margin-bottom:0 !important;
		background-color: $body-bg;
		z-index:100;
		> .pagination { 
			margin-top: 20px !important;
			margin-bottom: 20px !important;
			.fa { font-size: 10px !important; }
		}
	}
	
	
	/* -------------------- NOT FULLSCREEN -------------------- */
	
	/* position of the slide */
	.slide {
		top: 10px;
		left: 50%; /* left at half the container width */
		transform: translate(-50%); /* left minus half the element width */
		padding: 0;
	}
	
	/* stretch the content to the slide size */
	.slide > .tab-pane {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	/* reduce margin on small screens */
	@media (max-width: $screen-xs-max) { .slide { @include slide-params(100vw, calc(100vh - 66px), 3/2, 12px); } }
	@media (min-width: $screen-sm-min) { .slide { @include slide-params($screen-sm-min, calc(100vh - 100px), 3/2, 14px); } }
	@media (min-width: $screen-md-min) { .slide { @include slide-params($screen-md-min, calc(100vh - 100px), 3/2, 15px); } }
	

	/* hard coded 3/2 ratios */
	@media ( min-width: $screen-lg-min ) and ( min-height: 801px ) { 
		.slide { @include slide-params($screen-lg-min, calc(100vh - 100px), 3/2, 22px); } 
	}
	
	@media ( min-width: $screen-lg-min ) and ( max-height: 800px ) { 
		.slide { @include slide-params($screen-lg-min, calc(100vh - 100px), 3/2, 2.75vh); } 
	}
	
	
	/* -------------------- FULLSCREEN ------------------------ */
	
	.slideFullscreen {
		position: fixed !important;
		top: 0;
    left: 0;
    right: 0;
    bottom: 0;
		margin: 0;
		width: 100%;
		background-color: #000 !important; /* backdrop color */
		z-index: 2000;
	
		> .tab-pane {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include slide-params(80vw, 80vh, 3/2, 12px);
		}
	}
	
	/* reduce margin on small screens */
	@media (max-width: $screen-xs-max) { .slide.fullscreen > .tab-pane { @include slide-params(100vw, 100vh, 3/2, 12px); } }
	/*
	@media (min-width: $screen-sm-min) { .slide.fullscreen > .tab-pane { @include slide-params(85vw, 85vh, 3/2); } }
	@media (min-width: $screen-md-min) { .slide.fullscreen > .tab-pane { @include slide-params(75vw, 75vh, 3/2); } }
	@media (min-width: $screen-lg-min) { .slide.fullscreen > .tab-pane { @include slide-params(65vw, 65vh, 3/2); } }
	*/
	
	
	/*.slide > .tab-inner-content, .slideFullscreen > .tab-inner-content { padding: 40px 60px; }*/
	
	/*
	.slide > .tab-pane, .slide.fullscreen > .tab-pane {
		min-height: initial;
	}
	*/
	
	/*
	.slide .row, .slideFullscreen .row {
		margin-left: 0;
		margin-right: 0;
	}
	*/
	
	