
	.input { font-family: 'FontAwesome' 'Open Sans'; }
	
	.input-group-addon {
		border:solid 2px #fff;
		border-radius:0;
		color:#fff;
		// background-color: $headers-bg-color;
	}
	
	.search {
		// color: $headers-bg-color;
		margin:0;
		padding:5px;
		border:solid 2px #fff;
		background-color: #fff;
		
		search:focus {
		-webkit-transition: all .4s ease;
		transition: all .4s ease;}
	}
	
	.animate-show {
		 -webkit-transition: all linear 0.25s;
		 transition: all linear 0.25s;
		 opacity: 1;
	}
	
	.animate-show.ng-hide-add,
	.animate-show.ng-hide-remove {
		 display: inline-block !important;
	}
	
	.animate-show.ng-hide {
		 opacity: 0;
	}
	