	
	
	
	
	
	
/* ---- no gap ----------------------------------- */

	.with-margin {
		margin: 20px !important;
	}
	
	.panel.no-gap {
		margin-left: 1px;
		margin-right: 1px;
	}
	
	
/* ---- Panels ----------------------------------- */

	
 
	
	
	
	
	#note-container {
		min-height: calc(100vh - 50px);
		overflow: auto;
	}
	
	

/* ---- Misc ------------------------------------- */
	
	.media-object {
		max-width: 200px;
		margin-bottom: 0;
	}

	.media-body {
		padding: 20px;
	}

	.episode {
		border-left: 5px solid #111;
		padding-left: 10px;
	}

	
	
	
	
	.with-border-strong {
		border:1px solid #aaaaaa;
	}
	
	.wo-border-top {
		border-top:0;
	}
	