
	.genres {
		padding: 0;
		margin:0;
	}
	
	.genres li {
		
		/*general*/
		display: inline-block;
		cursor: pointer;
		transition: 0.1s all;
		-webkit-font-smoothing: antialiased;
		
		/*background*/
		background-color: #e4e7ec; 

		/*text*/
		text-align: center;

		font-weight: bold;
		font-size: 12px;
		color: #90939a;
		white-space: nowrap;

		
		/*margin padding border*/
		padding: 2px 8px;
		margin: 0 5px 5px 0;
		border-radius: 0;
		
	}

	/*when interacted with*/
	.genres li:empty { display: none; }
	.genres li:hover {
		background-color: #90939a;
		color: #f4f6f8;
	}
	
	/*when clicked on*/
	.genres li.isActive {
		color: #444;
		background-color: #ffe939;
	}