
	<div class="container">
	
		<!-- hamburger menu -->
		<div class="navbar-header navbar-left pull-left">
			<a ui-sref="app.home" class="navbar-brand">
				<pw-brand></pw-brand>
			</a>
			<div id='headerNotCollapsed' class="pull-left"></div>
		</div>
		<div class="navbar-header navbar-right pull-right">
			<button class="navbar-toggle" id='navbar-toggle' type="button" data-ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-dot"></span>
				<span class="icon-dot"></span>
				<span class="icon-dot"></span>
			</button>
		</div>
		<div class="visible-xs-block clearfix"></div>
		
		<div class="navbar-collapse collapse" uib-collapse="isCollapsed" role="navigation" pw-click-outside='closeThis()' is-active='!isCollapsed'> 
			
			<ul class="nav navbar-nav navbar-left" pw-menu-items data-ng-if="menu.shouldRender(auth.user)" user='auth.user' menu='menu'></ul>
			
			<div id='headerCollapsed'></div>
			
			<ul class="nav navbar-nav navbar-right" pw-user-login data-ng-hide='auth.user'></ul>
			<ul class="nav navbar-nav navbar-right" pw-user-info  data-ng-show='auth.user' user='auth.user'></ul>
			
		</div>


	</div>