
	$pw-heading-color: #2C5AA0; /* d34e39 */
	$pw-color: #333; /*373f47 47525d */
	$pw-font-size: 18px;
	$pw-font-size-xs: 16px;
	$pw-line-height: 1.65em;
	$pw-text-padding: 50px;
	$pw-header-padding: 80px; 
	$pw-article-bg: #fff;
	
	@mixin article-headers($letter-spacing) {
		font-family: $headings-font-family;
		color: $pw-heading-color;
		text-transform: uppercase;
		letter-spacing: $letter-spacing;
	}