		
	.box.box-solid.box-primary {
		border: 1px solid #3c8dbc;
	}
	.box.box-solid {
		border-top: 0;
	}
	.box {
		position: relative;
		border-radius: 3px;
		background: #fff;
		border-top: 3px solid #d2d6de;
		margin-bottom: 20px;
		width: 100%;
		box-shadow: 0 1px 1px rgba(0,0,0,.1);
	}
	
	.box.box-solid.box-primary>.box-header {
		color: #fff;
		background: #3c8dbc;
	}
	.box-header {
		color: #444;
		display: block;
		padding: 10px;
		position: relative;
	}
	
	.box-body {
		border-radius: 0 0 3px 3px;
		padding: 10px;
	}
	
	.info-box {
		display: block;
		min-height: 90px;
		background: #fff;
		width: 100%;
		box-shadow: 0 1px 1px rgba(0,0,0,.1);
		border-radius: 2px;
		margin-bottom: 15px;
	}
	
	
	
	