	
	/*
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic);
	@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,500italic,700italic,700);
	@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
	@import url("http://overpass-30e2.kxcdn.com/overpass.css");
	*/
	/*marked toc*/
	@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
	
	/*articles*/
	@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i");
	@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,900");
	@import url("https://fonts.googleapis.com/css?family=Sanchez");
	@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,500");
	@import url("https://fonts.googleapis.com/css?family=Montserrat");
	@import url("https://fonts.googleapis.com/css?family=Oswald:700");
	
	
	/* import fonts - https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/ */
	@font-face {
		font-family: 'League Spartan';
		src: url('./fonts/league-spartan/leaguespartan-bold.eot');
		src: url('./fonts/league-spartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
				 url('./fonts/league-spartan/leaguespartan-bold.woff2') format('woff2'),
				 url('./fonts/league-spartan/leaguespartan-bold.woff') format('woff'),
				 url('./fonts/league-spartan/leaguespartan-bold.ttf') format('truetype'),
				 url('./fonts/league-spartan/leaguespartan-bold.svg#league_spartanbold') format('svg');
		font-weight: 700;
		font-style: normal;
	}
	
	@font-face {
    font-family: 'Museo Slab';
    src: url('./fonts/museoslab_500/Museo_Slab_500_2-webfont.eot');
    src: url('./fonts/museoslab_500/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/museoslab_500/Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('./fonts/museoslab_500/Museo_Slab_500_2-webfont.woff') format('woff'),
         url('./fonts/museoslab_500/Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('./fonts/museoslab_500/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
	}

	@font-face {
    font-family: 'Cooper Hewitt';
    src: url('./fonts/CooperHewitt/CooperHewitt-Book.eot');
    src: url('./fonts/CooperHewitt/CooperHewitt-Book.eot?#iefix') format('embedded-opentype'),
         url('./fonts/CooperHewitt/CooperHewitt-Book.woff') format('woff'),
         url('./fonts/CooperHewitt/CooperHewitt-Book.svg#CooperHewitt-Book') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
	/* $font-family-base: 'Gidole', 'Overpass', 'Raleway', 'Roboto', 'Source Sans Pro', 'Clear Sans', 'Open Sans', sans-serif; */
	$font-family-base: 'Open Sans', 'Source Sans Pro', sans-serif;
	$headings-font-family: 'Montserrat', 'Open Sans', 'League Spartan', Avenir, sans-serif;
	$headings-font-weight: 400;

	body {
		-webkit-font-smoothing: subpixel-antialiased;
	}