	
	
	$input-border-radius: 0;

	/* container width */
	$grid-gutter-width:	30px !default;
	
	
	$container-tablet:				(720px + $grid-gutter-width);	 // sm: 768px & larger
	$container-desktop:				(940px + $grid-gutter-width);	 // md: 992px & larger
	$container-large-desktop:	(1140px + $grid-gutter-width); // lg: 1200px & larger
	
	$container-xl-desktop:	  (1200px + $grid-gutter-width);
	
	@media (min-width: 1350px) {
		.container {
			width: $container-xl-desktop !important;
		}
	}
	
	/* Basics of a navbar */
	$navbar-border-radius: 0;
	$navbar-height: 46px;
	$navbar-line-height: 20px;
	//$navbar-padding-vertical: calc((#{$navbar-height} - #{$navbar-line-height})/2);
	$navbar-padding-vertical: 13px;
	
	/* non collapsed navbar items */
	/*
	.inline-block {
		display: inline-block;
	}
	*/
	/*
	pw-navbar .navbar-header {
		clear: both !important; // prevents in-header-not-collapsed items from showing in a second line
	}
	*/
	
	html, body {height: 100%}
	
	body {
		padding-top: $navbar-height; 		
		padding-top: calc((#{$navbar-height} + 20px);

		/* ui-view */
		> div { height:100%; }
		> div > pw-layout > .container { height:100%; }
	
	}
	
	.row100pc {
		height:100%;
	}
	
	pw-layout fieldset {
		padding: 10px;
		margin-bottom: 10px;
		margin-top: 10px;
		border-bottom: 1px solid #ddd;
	}
	
	pw-layout .form-group {
		border-radius: 0 !important;
		box-shadow: none;
		border-color: #d2d6de;
	}

	pw-layout .form-control {
			border-radius: 0 !important;
			box-shadow: none !important;
			border-color: #d2d6de;
			
			&:focus {
				border-color: #3c8dbc;
				box-shadow: none;
			}
			&:not(select) {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
	}
	
	.show-hover-container {
		.show-hover { display:none !important; }
		&:hover .show-hover {	display:block !important;	}
	}
	
	/*sidebar size */
	/* $sidebar-collapsed-width: 45px; */
	/* $navbar-min-height: $sidebar-collapsed-width; */
	
	$sidebar-collapsed-width: 0;
	$sidebar-expanded-width: 220px;
	.margin-small {	margin-left: $sidebar-collapsed-width !important; }
	.margin-large {	margin-left: $sidebar-expanded-width !important; }
	
	.padding-small {	padding-left: $sidebar-collapsed-width !important; }
	.padding-large {	padding-left: $sidebar-expanded-width !important; }
	
	