	
	
	$input-border-radius: 0;

	/* container width */
	$grid-gutter-width:	30px !default;
	
	
	$container-tablet:				(720px + $grid-gutter-width);	 // sm: 768px & larger
	$container-desktop:				(940px + $grid-gutter-width);	 // md: 992px & larger
	$container-large-desktop:	(1140px + $grid-gutter-width); // lg: 1200px & larger
	
	$container-xl-desktop:	  (1200px + $grid-gutter-width);
	
	@media (min-width: 1350px) {
		.container {
			width: $container-xl-desktop !important;
		}
	}
	
	/* Basics of a navbar */
	$navbar-border-radius: 0;
	$navbar-height: 54px;
	$navbar-line-height: 20px;
	$navbar-padding-vertical: calc((#{$navbar-height} - #{$navbar-line-height})/2);
	//$navbar-padding-vertical: 13px;
	//$body-padding-top: calc(#{$navbar-height} + 20px);
	$body-padding-top: $navbar-height;
	
	html { height: 100%; }
	body { height: 100%; }
	
	body {
		padding-top: $navbar-height; 		
		padding-top: $body-padding-top;

		/* ui-view */
		> .body-ui-view { height: 100%; }
		> .body-ui-view > pw-layout > .container { height:100%; }
	
	}
	
	.full-width {
		width: 100%;
	}
	
	.no-body-margin {
		position:relative;
		top: -20px;
	}	
	
	.masked {
		visibility: hidden;
	}
	
	.row100pc {
		height:100%;
		min-height:100% !important;
	}
	
	pw-layout fieldset {
		padding: 10px;
		margin-bottom: 10px;
		margin-top: 10px;
		border-bottom: 1px solid #ddd;
	}
	
	pw-layout .form-group {
		border-radius: 0 !important;
		box-shadow: none;
		border-color: #d2d6de;
	}

	pw-layout .form-control {
			border-radius: 0 !important;
			box-shadow: none !important;
			border-color: #d2d6de;
			
			&:focus {
				border-color: #3c8dbc;
				box-shadow: none;
			}
			&:not(select) {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
	}
	
	.cancel-alert {
		position: fixed !important;
		top: 70px;
		height: 50px;
		box-shadow: 2px 2px 5px #aaa;
		cursor: pointer;
		z-index: 2000;
	}
	
	.textOverFlowEllipsis  {
		max-width: calc(100vw - 150px);
		li, li a, li a span {
			max-width:100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	
	.radio, .checkbox {
		margin-top:0 !important;
		margin-bottom:0 !important;
	}
	.radio label, .checkbox label {
		margin-bottom: 8px !important;
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
	
/* --------------------  OLD --------------------  */

	.show-hover-container {
		.show-hover { display:none !important; }
		&:hover .show-hover {	display:block !important;	}
	}
	
	@mixin fit-div-to-background-img($url, $ratio, $opacity) { 
		
		/*
			padding-top returns the percent of screen width; 
			it gives the height of img container 
			the width is the screen width;
			if padding-top > img ratio => shows empty area below the img
			if padding-top < img ratio => shows empty area on the right of the img
		*/
		
		position: relative;
		padding-top: 100%; 
		z-index: -1;
		
		&::before {
			position: absolute;
			opacity: 0.95;
			z-index: -10;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(rgba(0, 0, 0, $opacity), rgba(0, 0, 0, $opacity)), url($url);
			background-size: contain; 
			background-repeat: no-repeat; 
			content: "";
		}

	}
	
	/*sidebar size */
	/* $sidebar-collapsed-width: 45px; */
	/* $navbar-min-height: $sidebar-collapsed-width; */
	
	$sidebar-collapsed-width: 0;
	$sidebar-expanded-width: 220px;
	.margin-small {	margin-left: $sidebar-collapsed-width !important; }
	.margin-large {	margin-left: $sidebar-expanded-width !important; }
	
	.padding-small {	padding-left: $sidebar-collapsed-width !important; }
	.padding-large {	padding-left: $sidebar-expanded-width !important; }
	
	