	
	
	$input-border-radius: 0;

	/* container width */
	$grid-gutter-width:	30px !default;
	
	/*
	$container-tablet:				(720px + $grid-gutter-width);	 // sm: 768px & larger
	$container-desktop:				(940px + $grid-gutter-width);	 // md: 992px & larger
	$container-large-desktop:	(1140px + $grid-gutter-width); // lg: 1200px & larger
	*/	
	
	$container-xl-desktop:	  (1300px + $grid-gutter-width);
	
	@media (min-width: 1350px) {
		.container {
			width: $container-xl-desktop;
		}
	}
	
	/* Basics of a navbar */
	$navbar-border-radius: 0;
	$navbar-height: 46px;
	$navbar-line-height: 20px;
	//$navbar-padding-vertical: calc((#{$navbar-height} - #{$navbar-line-height})/2);
	$navbar-padding-vertical: 13px;
	
	/* non collapsed navbar items */
	/*
	.inline-block {
		display: inline-block;
	}
	*/
	/*
	pw-navbar .navbar-header {
		clear: both !important; // prevents in-header-not-collapsed items from showing in a second line
	}
	*/
	
	body { 
		padding-top: $navbar-height; 
		-webkit-font-smoothing: subpixel-antialiased;
	}
	
	.show-hover-container {
		.show-hover { display:none !important; }
		&:hover .show-hover {	display:block !important;	}
	}
	
	/*sidebar size */
	/* $sidebar-collapsed-width: 45px; */
	/* $navbar-min-height: $sidebar-collapsed-width; */
	
	$sidebar-collapsed-width: 0;
	$sidebar-expanded-width: 220px;
	.margin-small {	margin-left: $sidebar-collapsed-width !important; }
	.margin-large {	margin-left: $sidebar-expanded-width !important; }
	
	.padding-small {	padding-left: $sidebar-collapsed-width !important; }
	.padding-large {	padding-left: $sidebar-expanded-width !important; }
	
	