

/* -------------------- alerts -------------------- */


	.alert-info {
			background-color: #e5f7fd;
			border-color: #bcf8f3;
			color: #25484e;
		} 

	.alert.top-right {
		position: fixed;
		top: 50px;
		right: 0;
		margin: 20px;
		z-index: 1050;
		outline: none;
		
		.close {	padding-left: 10px; }
	}