<section class="container">
	<div class="page-header"><h1>Maps</h1></div>
	<div class="col-md-8 col-md-offset-2">
		<leaflet defaults="defaults" lf-center="center" url-hash-center="yes" height="480px" width="100%"></leaflet>
		<form>
        Latitude : <input step="any" ng-model="center.lat" type="number">
        Longitude : <input step="any" ng-model="center.lng" type="number">
        Zoom : <input step="any" ng-model="center.zoom" type="number">
    </form>
		
		<h2>Direct locations</h2>
      <ul>
        <li><a href="" ng-click="changeLocation('36.8899:-121.8008:12')">Watsonville</a>
        <li><a href="" ng-click="changeLocation('34.0078:-118.8060:14')">Malibu</a>
        <li><a href="" ng-click="changeLocation('33.7717:-117.9458:12')">Garden Grove</a>
        <li><a href="" ng-click="changeLocation('32.5290:-117.0442:13')">Tijuana</a>
      </ul>
			
	</div>
</section>