	
	<div class="margin-top tag-list-header">{{$state.current.url}}</div>
	
	<ul class="ul-no-style">
		
		<pw-card-item ng-repeat="item in items | filter:search | isTagIn: activeTags | orderBy:'rating':true" 
						 show="item" selected-ids='selectedIds' ng-show='!item.hidden'></pw-card-item>
		
		
		<ul class="nav navbar-nav ng-animate-disabled" pw-in-header ng-show='$state.is("app.shows.deleted")'>
			
			<li>
				<a uib-popover-template="emptyPopover.templateUrl"
					 popover-trigger="outsideClick" popover-placement='bottom' popover-class='popover-viewport popover-no-margin popover-no-arrow popover-left'>
					<i class="fa fa-trash"></i>
					<span ng-show='selectedIds.length===0' class='hidden-xs'>&nbsp;Empty</span>
					<span ng-show='selectedIds.length!==0' class='hidden-xs'>&nbsp;Super Delete</span>
				</a>
			</li>
		
		</ul>
		
		<ul class="nav navbar-nav ng-animate-disabled" pw-in-header ng-show='selectedIds.length!==0'>

			<li><a pw-cancel-action='ctrl.saveSelectedItems("archived")' pw-cancel='ctrl.cancelSelectedItems()' pw-inprog='ctrl.updateSelectedItems("archived")'> <!--  ng-click='ctrl.updateSelectedItems("archived")' -->
				<span ng-show='updateQuery.archived' ><i class="fa fa-check"></i><span class='hidden-xs'>&nbsp;Archive</span></span>
				<span ng-show='!updateQuery.archived'><i class="fa fa-check"></i><span class='hidden-xs'>&nbsp;Unarchive</span></span>
			</a></li>
			<li><a pw-cancel-action='ctrl.saveSelectedItems("archived")' pw-cancel='ctrl.cancelSelectedItems()' pw-inprog='ctrl.updateSelectedItems("archived")'>
				<span ng-show='updateQuery.inTrash' ><i class="fa fa-trash"></i><span class='hidden-xs'>&nbsp;Delete</span></span>
				<span ng-show='!updateQuery.inTrash'><i class="fa fa-trash"></i><span class='hidden-xs'>&nbsp;Restore</span></span>
			</a></li>
			<li><a pw-cancel-action='ctrl.saveSelectedItems("favorite")' pw-cancel='ctrl.cancelSelectedItems()' pw-inprog='ctrl.updateSelectedItems("favorite")'>
				<span ng-show='updateQuery.favorite' ><i class="fa fa-star"></i><span class='hidden-xs'>&nbsp;Favorite</span></span>
				<span ng-show='!updateQuery.favorite'><i class="fa fa-star"></i><span class='hidden-xs'>&nbsp;Unfavorite</span></span>
			</a></li> 
			
		</ul>
		
	</ul>