<div class="bookmark" ng-hide='hideDuringActionCancel === "true"'>

	<div class="bookmark-img">
		<a href="#!/shows/{{show._id}}"><img src="{{show.thumb}}"></a>
	</div> 

	<div class="bookmark-child">
		
		<!-- Title -->
		<h3 class="bookmarkr-title">
			{{show.name}}
		</h3>	
		
		<!-- Overview -->
		<div>
			
			<span ng-show="show.status === 'Continuing'">
				<i class="fa fa-calendar text-danger"></i>
				<span class="text-danger">
					{{show.airsDayOfWeek}} <em>{{show.airsTime}}</em> on {{show.network}}
				</span>
			</span>
			
			<span ng-show="show.status === 'Ended'">
				<span class="text-danger">Ended</span>
			</span>
			
			<span class="text-muted"> > {{ show.numberOfSeasons }} Seasons / {{ show.numberOfEpisodes  }} Episodes </span>

		</div>

		<ul class="genres">
			<li ng-repeat="tag in show.genre | orderBy: tag" 
					ng-click='toggle("genres", tag)'
					ng-class="{'isActive': isActive('genres', tag)}">{{tag}}</li>
		</ul>
		
		
	</div>
	
	<pw-item-menu item='show' dbService='Show'></pw-item-menu>

</div>