	
	<button class="sidebar-toggle" type="button" ng-click="toggleCollapsibleSidebar()">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

	<nav class='sidebar' is-active='!sidebarIsCollapsed'>
		
		<ul class="nav sidebar-subnav">
			<li pw-aside-menu-item
				ng-repeat="item in menu.items | filter: ctrl.shouldRender | orderBy: ['position', 'title']" 
				user='auth.user' item='item' sidebar-is-collapsed='sidebarIsCollapsed'
				class="{{item.class}}" ng-class="{ active: $state.includes(item.state) }"
				ng-switch="item.type" uib-dropdown="item.type === 'dropdown'">
			</li>
		</ul>
		
	</nav>
