	
	.pagination-container {
		position:absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
		.pagination { 
			padding:0; 
			margin-left: initial;
			margin-right: initial;
			color: #bbb;
			.fa { font-size: 14px; }
		}
	}
	
	@media (max-width: $screen-md-max) {
	
		/* make pagination dots always visible, reduce their size */
		.pagination-container {
			position: fixed;
			margin-bottom:0;
			background-color: #fff;
			z-index:100;
			.pagination { 
				margin-top: 10px;
				margin-bottom: 10px;
				font-size: 12px;
				.fa { font-size: 10px; }
			}
		}
		
	}