
pw-article-view {
	
	/* toc above text */
	> div.row {
		position: relative;
	}
	
	.postTitle {
		padding-top: 30px;
		.not-codemirror {
			padding-top: 0;
			padding-bottom: 0;
			p:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	
	.tab-container {
		padding: 0;
		overflow:hidden;
	}
	
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	
	.tab-pane {
		display: block; /* custom html tags are inline by default*/
		width: 100%;
		min-height: calc(100vh - #{$body-padding-top});
		overflow-x:hidden;
		background: #fff;
		//clear:both;
		white-space: nowrap;
	}
	
	/* tab wrapper */
	.tab-content {
		display: none;
		position: relative;
		width: 100%;
		//min-height: calc(100vh - #{$body-padding-top});
		background-color: $pw-article-bg;
		padding-left: 15px;
		padding-right: 15px;
		vertical-align:top;
		white-space: initial;
	
		/*&.active, */
		&.active,&.inactive {
			display: inline-block;
		}

	}
	
	/*
	.tab-content.inactive {
		visibility: hidden;
		opacity: 0;
		//transition: visibility 0s linear 150ms, opacity 150ms;
		transition-delay: 150ms;
	}
	*/
	
	.tab-content.fromLeft {
		&.active   { animation: article-slide-in-fromLeft 0.5s forwards; }
		&.inactive { animation: article-slide-out-toRight 0.5s forwards; }
	}
	.tab-content.fromRight {
		&.active   { animation: article-slide-in-fromRight 0.5s; }
		&.inactive { animation: article-slide-out-toLeft   0.5s forwards; }
	}
	
	
	@keyframes article-slide-in-fromLeft {
		0% { transform: translate3d(-100%,0,0); }
		100% { transform: translate3d(0%,0,0); }
	}
	@keyframes article-slide-in-fromRight {
		0% { transform: translate3d(0%,0,0); }
		100% { transform: translate3d(-100%,0,0); }
	}
	
	@keyframes article-slide-out-toLeft {
		0% { transform: translate3d(0%,0,0); }
		100% { transform: translate3d(-100%,0,0); }
	}
	@keyframes article-slide-out-toRight {
		0% { transform: translate3d(-100%,0,0); }
		100% { transform: translate3d(0%,0,0); }
	}
	
	
	/* tab - article title */
	.article-header {
		border-top: 20px solid $body-bg;
		word-wrap: break-word;
		overflow: hidden;
		@include article-headers(2px);
		
		color: #fff;
		background-color: $pw-heading-color;
		padding: $pw-header-padding 0;
		margin-bottom: 0;
		> h1 { 
			font-family: "League Spartan"; 
			font-size: 3.5em;	
		}
	}
	
	/* tab - title */
	.tab-title {
		overflow: hidden;
		word-wrap: break-word;
		@include article-headers(1px);
		padding: 30px $pw-text-padding 0;
		margin-bottom: 10px;
	}
	
	/* tab - content */
	.not-codemirror, .CodeMirror-scroll {
		overflow: hidden;
		padding: 20px $pw-text-padding;
		padding-bottom: $pw-text-padding;
		font-family: $font-family-base;
		color: $pw-color;
	}
	
	/* ---------- size dependant css ---------- */
	
	/* prevent overlap with pagination on sm screens & higher */
	@media (min-width: $screen-md-min) {
		.tab-inner-content {
			padding-bottom: 60px;
		}
	}
	
	@media (max-width: $screen-xs-max) {
		
		.article-header {
			border-top: 0;
			padding: calc(#{$pw-header-padding}/1.5) 0;
			> h1 {
				font-size: 2.5em;
			}
		}
		/* reduce padding for max readability when small real estate */
		.tab-title, .not-codemirror, .CodeMirror-scroll {
			padding-left: 5px !important;
			padding-right: 5px !important;
		}
		
		.tab-title {
			padding-top: 5px !important;
		}
		
		/* make the text at the bottom stops before pagination dots */
		.not-codemirror, .CodeMirror-scroll {
			padding-bottom: $pw-text-padding !important;
		}
		
		.not-codemirror pre {
			font-size: 1em !important;
		}
		
		/* smaller font size */
		.CodeMirror, .tab-pane p, .tab-pane ul, .tab-pane ol{
			font-size: $pw-font-size-xs !important;
		}
		
	}
	
}

