
<li class="tag-list-item" 
	ng-click='toggleTag()'
	ng-class="{'isActive': inActiveTags()}" ng-show='!isEditMode()'>
	
	<span ng-class="{'text-super-muted': tag.count==0}">
		<span>{{tag.name}}</span>
		<span class="pull-right">{{tag.count}}</span>
	</span>
	
</li>

<li class="tag-list-item" 
	ng-click='toggleTag()'
	ng-class="{'isActive': inSelectedTags() !== false}" ng-show='isEditMode()'>
	
	<span ng-class="{'text-super-muted': tag.count==0}">
		<span>{{tag.name}}</span>
		<span class="pull-right">{{inSelectedTags()}}</span>
	</span>
	
</li>