
	
	<div class="tag-list" pw-click-outside='$ctrl.closeThis()' is-active='!$ctrl.pwArticleList.isAsideCollapsed'>
		
		<div class="asideIcons tag-list-item" ng-if="!$ctrl.pwArticleList.isEditMode">
			<a ui-sref="{archived: $ctrl.$state.params.archived ? undefined : true}"><i class="fa fa-fw fa-check"  ng-class="{asideIconActive: $ctrl.$state.params.archived}"></i></a>
			<a ui-sref="{deleted: $ctrl.$state.params.deleted ? undefined : true}"	><i class="fa fa-fw fa-trash"  ng-class="{asideIconActive: $ctrl.$state.params.deleted}" ></i></a>
			<a ui-sref="{favs: $ctrl.$state.params.favs ? undefined : true}" 			  ><i class="fa fa-fw fa-star"   ng-class="{asideIconActive: $ctrl.$state.params.favs}"		 ></i></a>
			<a ui-sref="{ispublic: $ctrl.$state.params.ispublic ? undefined : true}"><i class="fa fa-fw fa-unlock" ng-class="{asideIconActive: $ctrl.$state.params.ispublic}"></i></a>
		</div>
		
		<div class="asideIcons tag-list-item" ng-if="$ctrl.pwArticleList.isEditMode">
			<a pw-cancel-action='serverUpdate("archived")' pw-cancel='cancelUpdate()' pw-inprog='clientUpdate("archived")'>
				<i class="fa fa-fw fa-check" ng-class='{ asideIconActive: $ctrl.currentFieldValue("archived") }'></i>
			</a>
			<a pw-cancel-action='serverUpdate("inTrash")' pw-cancel='cancelUpdate()' pw-inprog='clientUpdate("inTrash")'>
				<i class="fa fa-fw fa-trash" ng-class='{ asideIconActive: $ctrl.currentFieldValue("inTrash") }'></i>
			</a>
			<a pw-cancel-action='serverUpdate("favorite")' pw-cancel='cancelUpdate()' pw-inprog='clientUpdate("favorite")'>
				<i class="fa fa-fw fa-star" ng-class='{ asideIconActive: $ctrl.currentFieldValue("favorite") }'></i>
			</a>
			<a pw-cancel-action='serverUpdate("isPublic")' pw-cancel='cancelUpdate()' pw-inprog='clientUpdate("isPublic")'>
				<i class="fa fa-fw fa-unlock" ng-class='{ asideIconActive: $ctrl.currentFieldValue("isPublic") }'></i>
			</a>
		</div>
		
		<pw-tags class="tag-list-item-container" tags='$ctrl.tags' selected-articles-tags='$ctrl.editValues.tags'></pw-tags>
		
	</div>
	
	

