	
	<!--
	<ul class="nav navbar-nav pull-left ng-animate-disabled hidden-lg" pw-in-header="notCollapsed">
		<li class="icon-navbar-toggle pull-left" ng-class="{active: !isAsideCollapsed}" ng-click="toggleAsideCollapse()">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</li>
	</ul>
	-->
	
	<button type="button" class="navbar-button-toggle hidden-lg" ng-class="{active: !$ctrl.pwArticleList.isAsideCollapsed}" 
			    pw-in-header="notCollapsedRight" ng-click="$ctrl.pwArticleList.toggleAsideCollapsed()">
		<span class="icon-dot"></span>
		<span class="icon-dot"></span>
		<span class="icon-dot"></span>
	</button>
	
	<ul class="nav navbar-nav pull-left ng-animate-disabled" pw-in-header="notCollapsed" ng-show='$ctrl.pwArticleList.user'>

		<li class="pull-left" ng-click="$ctrl.pwArticleList.toggleEditMode()">
			<a tooltip-placement="bottom" uib-tooltip="leave edit mode" ng-show='$ctrl.pwArticleList.isEditMode'><i class="fa fa-fw fa-check" ></i></a>
			<a tooltip-placement="bottom" uib-tooltip="enter edit mode" ng-show='!$ctrl.pwArticleList.isEditMode'><i class="fa fa-fw fa-pencil"></i></a>
		</li>
		
		<li class="pull-left" ng-click = '$ctrl.createItem()'>
			<a><i class="fa fa-fw fa-plus-circle"></i></a>
		</li>
		
	</ul>
	
	<ul class="nav navbar-nav pull-left ng-animate-disabled" pw-in-header="notCollapsed" ng-show='$ctrl.$state.params.deleted && $ctrl.pwArticleList.isEditMode'>

		<li>
			<a uib-popover-template="$ctrl.emptyPopover.templateUrl"
				 popover-trigger="outsideClick" popover-placement='bottom' popover-class='popover-viewport popover-no-margin popover-no-arrow popover-left'>
				<i class="fa fa-trash"></i>
				<span class='hidden-xs'>&nbsp;Delete</span>
			</a>
		</li>
	
	</ul>
	
	