
		<!--<form class="signin form-horizontal">
      <fieldset>-->
	
	<div class="media">
		<div class="media-left">
			<img class="media-object img-thumbnail user-profile-picture" ng-src="{{imageURL}}" alt="{{user.displayName}}">
		</div>
		<div class="media-body media-bottom">
			<div ng-hide="uploader.queue.length">
				<span class="btn btn-default btn-file">
					Select Image <input type="file" nv-file-select uploader="uploader">
				</span>
			</div>
			<div ng-show="uploader.queue.length">
				<button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
				<button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
			</div>
		</div>
	</div>
	
        
				
        
				
      <!--</fieldset>
    </form>-->
