	
	<!--
	<pw-aside ng-class="sidebarIsCollapsed ? 'aside-collapsed' : 'aside'" sidebar-is-collapsed='sidebarIsCollapsed' ></pw-aside>
	-->
	
	<!--<pw-navbar class="navbar navbar-fixed-top navbar-default" ng-class="sidebarIsCollapsed ? 'padding-small' : 'padding-large'"></pw-navbar>-->
	<pw-navbar class="navbar navbar-fixed-top navbar-default" ng-class="{ isHome: $state.is('app.home') }"></pw-navbar>
	
	<!-- <div class="container" data-ui-view autoscroll="false" ng-class="sidebarIsCollapsed ? 'margin-small' : 'margin-large'"></div> -->
	<div class="container" data-ng-if="!($state.is('app.home') || $state.is('app.stormReport.demo'))" data-ui-view></div>
	<div class="container-fluid" data-ng-if="$state.is('app.home') || $state.is('app.stormReport.demo')" data-ui-view></div>