
	<!-- header buttons off edit mode -->
	<ul class="nav navbar-nav pull-left ng-animate-disabled" pw-in-header="notCollapsed" ng-show='authentication.user._id === article.user._id'>
		<li class="pull-left" tooltip-placement="bottom" uib-tooltip="back to list"><a ui-sref="app.articles.list">
			<i class="fa fa-fw fa-arrow-left"></i>
		</a></li>
		
		<li class="pull-left" tooltip-placement="bottom" uib-tooltip="enter edit mode" ng-show='disableEdit'><a ng-click="toggleEditMode()">
			<i class="fa fa-fw fa-pencil"></i>
		</a></li>
		<li class="pull-left" tooltip-placement="bottom" uib-tooltip="leave edit mode" ng-show='!disableEdit'><a ng-click="toggleEditMode()">
			<i class="fa fa-fw fa-check"></i>
		</a></li>
		
		<li class="pull-left" tooltip-placement="bottom" uib-tooltip="slides view" ng-show='!disableEdit && article.isSlide'><a ng-click="toggleIsSlide()">
			<i class="fa fa-fw fa-television"></i>
		</a></li>
		<li class="pull-left" tooltip-placement="bottom" uib-tooltip="article view" ng-show='!disableEdit && !article.isSlide'><a ng-click="toggleIsSlide()">
			<i class="fa fa-fw fa-newspaper-o"></i>
		</a></li>
		
		<li class="pull-left" tooltip-placement="bottom" uib-tooltip="this article is public" ng-show='!disableEdit && article.isPublic'><a ng-click="toggleIsPublic()">
			<i class="fa fa-fw fa-unlock"></i>
		</a></li>
		<li class="pull-left" tooltip-placement="bottom" uib-tooltip="this article is private" ng-show='!disableEdit && !article.isPublic'><a ng-click="toggleIsPublic()">
			<i class="fa fa-fw fa-lock"></i>
		</a></li>
		<!-- 
		<li><a ng-click="remove()">
			<i class="fa fa-trash"></i><span class='hidden-xs'>&nbsp;Delete</span>
		</a></li>
		-->
	</ul>
	
	<!--
	<ul class="nav navbar-nav pull-left ng-animate-disabled" pw-in-header>
		<li class="pull-left visible-xs-block visible-sm-block visible-md-block"><a ng-click="isTocCollapsed = !isTocCollapsed">
			<i class="fa fa-fw fa-filter"></i>
		</a></li>
	</ul>
	-->
	
	<div class = "row row100pc pw-article-content">
		
		<div class="col-lg-8 col-lg-offset-2 col-xs-nomargin row100pc tab-content" ng-class="{slide: article.isSlide }">
			
			<div ng-class="{ slideRatio: article.isSlide }"></div>
			
			<div class="tab-pane row100pc" ng-repeat="tab in article.content" ng-class="{active: tab.active, slideContent: article.isSlide }">
				
				<div class="article-header text-center" ng-show="position(tab)==='first'" ng-if='!article.isSlide || !disableEdit'>
					<span>{{article.title}}</span>
					<span class="float-right" ng-show="authentication.user._id === article.user._id && !disableEdit">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="renameTitle()"></span>
					</span>
				</div>
				
				<div class="row page-title">
					<div class="col-xs-12"><h3>{{tab.title}}</h3></div>
				</div>
				
				<div class="row" ng-if='authentication.user._id === article.user._id && !disableEdit'>
					<div class="col-xs-12">
						<textarea ui-codemirror="editorOptions" name="tab_edit" ng-model="tab.body" ng-model-options="{ debounce: 700 }" pw-focus-me="isSomething"></textarea>
					</div>				
				</div>
				
				<div class="row" ng-if='disableEdit'>
					<div class="col-xs-12">
						<div class="not-codemirror" marked="tab.body"></div>
					</div>
				</div>
				
				<div class="row pagination-container">
					<div class="col-xs-12 text-center pagination">
						<i class="fa fa-fw fa-circle" aria-hidden="true" 
							 ng-repeat="tab in article.content" 
							 ng-class="{isActive: tab.active}"
							 ng-click="select(tab)"
							 tooltip-placement="top" uib-tooltip="{{tab.title}}"
						>
						</i>
					</div>
				</div>
				
			</div>
		</div>
		
		
		<div class="col-lg-2 tocContainer" ng-if='!article.isSlide || !disableEdit' uib-collapse="isTocCollapsed" pw-click-outside='closeThis()' is-active='!isTocCollapsed'>
		<!--<div class="col-lg-2 tocContainer" ng-if='!article.isSlide || !disableEdit' pw-in-header>-->
			<div class="tag-list">
				
				<div class="tag-list-item-container" ng-sortable="sortableConfig">
					<div class="tag-list-item show-hover-container" ng-repeat="tab in article.content" ng-click="select(tab)" ng-class="{isActive: tab.active}" >
						<span class='uppercase'>{{tab.title}}</span>
						<span class="float-right" ng-if="authentication.user._id === article.user._id && !disableEdit">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="renameTab(tab)"></span>
							<span>&nbsp;</span>
							<span class="glyphicon glyphicon-trash" ng-show="article.content.length > 1" aria-hidden="true" ng-click="deleteTab(tab)"></span>
						</span>
						
						<!--
						<span class="float-right" ng-show="authentication.user._id === article.user._id && !disableEdit && article.content.length > 1">
							<span class="glyphicon glyphicon-open" aria-hidden="true" ng-show="position(tab)!=='first'" ng-click="mergeTabs(tab, 'up')"></span>
							<span class="glyphicon glyphicon-save" aria-hidden="true" ng-show="position(tab)!=='last'" ng-click="mergeTabs(tab, 'down')"></span>
						</span>
						-->
						
						<markedtoc ng-if='!article.isSlide' tab-body="tab.body" onclick="select(tab)" is-disable-edit="disableEdit"></markedtoc>

					</div>
				</div>
				
				<div class="tag-list-item" ng-show="authentication.user._id === article.user._id && !disableEdit" ng-click="createNewTab()">
					<i class="fa fa-plus"></i>&nbsp&nbspAdd Tab
				</div>
				
			</div>
		</div>
		
	</div>
	