
	<div ng-show="$ctrl.pwArticleView.position($ctrl.activeTab)==='first'">
		
		<!-- article title -->
		<div class="row article-header text-center">
			<h1 class="col-xs-10 col-xs-offset-1">{{$ctrl.article.title}}</h1>
			<div class="col-xs-1" ng-show="$ctrl.pwArticleView.isEditMode" ng-click="$ctrl.renameTitle()">
				<span class="glyphicon glyphicon-pencil"></span>
			</div>
		</div>
		
		<!-- img url -->
		<div class="row tab-title" ng-show="$ctrl.pwArticleView.isEditMode">
			<div class="col-xs-10 col-xs-offset-1">{{$ctrl.article.imgUrl}}</div>
			<div class="col-xs-1" ng-click="$ctrl.renameImgUrl()">
				<span class="glyphicon glyphicon-pencil"></span>
			</div>
		</div>
	
	</div>
	
	<div ng-hide="$ctrl.article.isSlide && $ctrl.pwArticleView.position($ctrl.activeTab)==='first'">
	
		<!-- tab title -->
		<div class="row tab-title">
			<div class="col-xs-12"><h3>{{$ctrl.activeTab.title}}</h3></div>
		</div>
		
		<!-- article content -->
		<div class="row tab-inner-content">
			<div class="col-xs-12" ng-if='$ctrl.pwArticleView.isEditMode'>
				<textarea name="tab_edit" ui-codemirror="$ctrl.codemirrorOptions" 
									ng-model="$ctrl.activeTab.body" ng-model-options="{ debounce: 700 }" pw-focus-me="$ctrl.pwArticleView.isCodeMirror">
				</textarea>
			</div>	
			<div class="col-xs-12" ng-if='!$ctrl.pwArticleView.isEditMode'>
				<div class="not-codemirror" marked="$ctrl.activeTab.body"></div>
			</div>			
		</div>
	
	</div>

	<!-- pagination -->
	<div class="row pagination-container">
		<div class="col-xs-8 col-xs-offset-2 text-center">
			<div class="pagination">
				<i class="fa fa-fw fa-circle" aria-hidden="true" 
					 ng-repeat="tab in $ctrl.article.content" 
					 ng-class="{isActive: tab.active}"
					 ng-click="$ctrl.pwArticleView.select(tab)"
					 tooltip-placement="top" uib-tooltip="{{tab.title}}"
				>
				</i>
			</div>
		</div>
		<div class="col-xs-2 text-center" ng-show="$ctrl.article.isSlide">
			<a class = "pagination" ng-click="$ctrl.pwArticleView.toggleFullScreen()">
				<i class="fa fa-fw fa-arrows-alt"></i>
			</a>
		</div>
	</div>