<li class="{{item.class}}" ng-class="{ active: $state.includes(item.state) }"
		ng-switch="item.type" uib-dropdown="item.type === 'dropdown'">
		
		<a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle title="{{item.title}}" ng-click='toggleCollapsibleMenu()'>
			<i class="{{item.iconClass}} fa-fw fa-17x"></i>
			<span ng-if='!sidebarIsCollapsed' data-ng-bind="item.title"></span>
			<i ng-if='!sidebarIsCollapsed' class="fa flex-pull-right" ng-class="menuIsCollapsed ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
		</a>
		
		<ul ng-switch-when="dropdown" class="dropdown-menu nav" ng-class="sidebarIsCollapsed ? 'sidebar-subnav-collapsed' : 'sidebar-subnav'">
			
			<li ng-if='sidebarIsCollapsed' class="sidebar-subnav-header" data-ng-bind="item.title"></li>
			<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(user);" ui-sref-active="active">
				<a ui-sref="{{subitem.state}}" data-ng-bind="subitem.title"></a>
			</li>
			
		</ul>
		
		<a ng-switch-default ui-sref="{{item.state}}" title="{{item.title}}">
			<i class="{{item.iconClass}} fa-fw fa-17x"></i>
			<span ng-if='!sidebarIsCollapsed' data-ng-bind="item.title"></span>
		</a>
	
</li>