
/*	CSS is order dependent ('cascading'). Using globbing (*) for import can cause unexpected changes in style, as it usually proceeds in alphabetical order.
/*	It is therefore not recommended to use it when load order is important.
*/
	
	@import './corescss/_fonts';
	@import './corescss/_theme';
	@import './corescss/_navbar-theme';
	@import './corescss/_article-theme';
	@import './corescss/_layout';
	
	$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
	@import '~bootstrap-sass/assets/stylesheets/_bootstrap';
	
	$fa-font-path: "~font-awesome/fonts/";
	@import '~font-awesome/scss/font-awesome';
	
	/* globbing all remaining scss files */
	@import "../..//**/scss/*";

	a {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
	
	/* media dependent css (bootstrap needs to be loaded first) */
	@media (max-width: $screen-xs-max) {
		.navbar-collapse {
			position:fixed;
			top: $navbar-height;
			left: 0;
			right: 0;
			background-color: inherit;
		}
	}
	
	/* cloak mgmt */
	[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
	}
	
	/* specific to angular ui templating */
	.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }