
	/* cover the entire item for an easy click/selection */
	.bookmark.isEdit {
		position: relative;
		&:before {
			content: "";
			background: transparent;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
	
	.bookmark.isActive {
		background-color: lighten($pw-heading-color,45%);
	}
	
	
	
	pw-article-list {
		height: 100%;
		/* tab wrapper */
		.tab-pane {
			position:relative;
			border-width: 0;
			padding: 0;
			display: none;
			min-height: calc(100vh - #{$navbar-height});
			&.active { display:block; }
		}
		
	}