	
	<div class="row project-margin-bottom project-margin-top">
		<div class="col-md-6 col-md-offset-3">
			
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<textarea id="inputText" class="reactiveTextarea form-control" 
											ng-model="$ctrl.inputText" ng-model-options="{ debounce: 0 }" 
											ng-change="$ctrl.onInputEvent('change')" 
											ng-click="$ctrl.onInputEvent('click')" 
											ng-keyup="$ctrl.onInputEvent('up')" 
											ng-keydown="$ctrl.onInputEvent('down')" 
											placeholder="start typing" rows=5 cols=35>
						</textarea>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="tags">
						<div class="col-xs-4">
							<div type='button' class="btn btn-default" 
								pw-inputend="$ctrl.updateInput($ctrl.words[2]);$event.stopPropagation();" 
								pw-inputstart="$event.preventDefault()">
								{{$ctrl.words[2]}}
							</div>
						</div>
						<div class="col-xs-4">
							<div type='button' class="btn btn-default" 
								pw-inputend="$ctrl.updateInput($ctrl.words[0]);$event.stopPropagation();" 
								pw-inputstart="$event.preventDefault()">
								{{$ctrl.words[0]}}
							</div>
						</div>
						<div class="col-xs-4">
							<div type='button' class="btn btn-default" 
								pw-inputend="$ctrl.updateInput($ctrl.words[1]);$event.stopPropagation();" 
								pw-inputstart="$event.preventDefault()">
								{{$ctrl.words[1]}}
							</div>
							</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>{{$ctrl.check}}</p>
					<p>{{$ctrl.check2}}</p>
					<p>{{$ctrl.check3}}</p>
				</div>
			</div>
		</div>
	</div>