
pw-smart-keyboard {

	font-size: 1.3em;
	line-height: 1.5em;
	
	.tags {
	
		margin-top:0;
		padding:0;
		
		> div{
			
			margin:0;
			padding:0;
			background-color: #e6e6e6;
			
			&:first-child > .btn { border-right-width:0; }
			&:last-child  > .btn { border-left-width:0;  }
			
			> .btn {
				border-radius:0;
				padding: 4px 12px;
				border-top:0;
				width:100%;
				background-color: #f4f4f4;
				color: #444;
				border-color: #ddd;
				
				&:hover {
					background-color: #e7e7e7!important;
				}
				
				&:hover, &:active, &:focus, &:active:hover {
					color: #333;
					background-color: #e6e6e6;
					border-color: #ddd;
					box-shadow:none;
					-webkit-box-shadow:none;
					outline: none;
				}
			}
		}
	}
	
	.tags .btn, .reactiveTextarea {
		font-size: 1em;
		min-height: 2em;
	}
	
	@media (max-width: $screen-xs-max) {

		.tags .btn, .reactiveTextarea {
			font-size: 1.1em;
			line-height: 1.1em;
			min-height: 2em;
		}
		
		.col-sm-12 {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	.form-group {
		margin-bottom: 0;
	}
	
	textarea {
		box-sizing: border-box;
		resize: none;
		color: #47525d;
	}
	
}