	
	<div class="tag-list-item-container">
		<div class="tag-list-header">Tags</div>
		<div class="tag-list-item" ng-repeat='tag in $ctrl.tags | orderBy:"name"' tag='tag' 
				 ng-class="{ isActive: $ctrl.pwArlAside.pwArticleList.isTagSelected(tag.name) }">
				 
			<span class='tag-inner' ng-if='!$ctrl.pwArlAside.pwArticleList.isEditMode' ng-class="{ 'text-super-muted': tag.count==0 }"
						ng-click='$ctrl.pwArlAside.pwArticleList.toggleTag(tag.name)'>
				<span>{{tag.name}}</span>
				<span class="pull-right">{{tag.count}}</span>
			</span>
			
			<span class='tag-inner' ng-if='$ctrl.pwArlAside.pwArticleList.isEditMode'
						pw-cancel-action='$ctrl.pwArlAside.pwArticleList.serverUpdate("tags")' 
						pw-cancel='$ctrl.pwArlAside.pwArticleList.cancelUpdate()' 
						pw-inprog='$ctrl.pwArlAside.pwArticleList.clientUpdate("tags",tag.name)' eat-click-if="$ctrl.pwArlAside.pwArticleList.selectedArticles.length === 0">
				<span>{{tag.name}}</span>
				<span class="pull-right">
					<i ng-show="$ctrl.selectedArticlesTagCount(tag)===0" class="fa fa-circle-thin"></i>
					<i ng-show="$ctrl.selectedArticlesTagCount(tag)===1" class="fa fa-check"></i>
				</span>
			</span>

		</div>
		
		<div class="tag-list-item" ng-show='$ctrl.pwArlAside.pwArticleList.isEditMode' ng-click='$ctrl.createNewTag()'><i class="fa fa-plus"></i>&nbsp&nbspAdd new item</div>
	</div>