
	.isHome {
		
		background: transparent;
		position: relative;
		top: calc( -1 * #{$body-padding-top} + 50px );
		border: 0;
		
		.navbar-brand { display: none; }
		
		.navbar-toggle {
			background: transparent;
			.icon-dot { background: #fff; }
		}
		
		/*
		.navbar-nav > li > a { 
			font-family: $headings-font-family;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #fff;
		}
		*/
		.navbar-nav > li > a { 
			//font-size: 16px;
			color: #fff;
		}
		
		.navbar-nav > li > .dropdown-menu {
			border-radius: 4px;
		}
		
		/* remove default hover bg & color */
		.navbar-toggle:hover,
		.navbar-toggle:focus,
		.navbar-nav > li > a:hover,
		.navbar-nav > li > a:focus,
		.navbar-nav > .open > a,
		.navbar-nav > .open > a:hover,
		.navbar-nav > .open > a:focus {
			color: #fff;
			font-weight: bold;
			background: transparent;
		}
		
	}
	
	.jumbotron.white-bg {
		background-color: #fff;
	}
	
	.jumboImg {
		background-image: url("../../_layout/assets/img/jumboW4.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: table;
    width: 100%;
    height: 100vh; //110vh;
		position: relative;
		top: calc( -1 * ( #{$body-padding-top} + #{$navbar-height} ) );
		z-index: -1;
	}
	
	.jumboImg > .jumboInner {
		display: table-cell;
    vertical-align: middle;
		/*
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		
		display:flex;
		justify-content: center;
		//align-items: center;
		flex-direction: column;
		*/
		color: #fff;

		h3 {
			font-family: $headings-font-family;
			text-transform: uppercase;
			font-size: 34px !important;
			font-weight: 400;
			letter-spacing: 1px;
		}
		p {
			font-family: $font-family-base;
			font-size: $pw-font-size;
			font-weight: 300;
		}
	}
	
	/* paragraphs & lists */
	p.temp {
		font-size: $pw-font-size;
		color: $pw-color; 
		line-height: $pw-line-height;
		margin-bottom: 1.1em;		
		padding: 20px $pw-text-padding;
		font-family: $font-family-base;
	}
	
	.home-content {
		margin-top: -30px;
	}
	
	.margin-bottom {
		margin-bottom: 100px;
	}
	
	@media (max-width: $screen-xs-max) {
		.isHome {
			top: calc( -1 * #{$body-padding-top} );
			.container { background-color: #fff; }
			.navbar-nav > li > a { color: #444; }
			.navbar-toggle .icon-dot { background: #444; }
			.navbar-toggle:hover,
			.navbar-toggle:focus,
			.navbar-nav > li > a:hover,
			.navbar-nav > li > a:focus,
			.navbar-nav > .open > a,
			.navbar-nav > .open > a:hover,
			.navbar-nav > .open > a:focus {
				font-weight: normal;
				color: #444;
			}
		}
		.jumboImg > .jumboInner {
			h3 { font-size: 24px !important; }
		}
		.home-content {
			margin-top: -80px;
			p.temp { padding: 5px; }
		}
	}