
pw-navbar {

	.navbar-nav > li > a { 
		font-family: $headings-font-family;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	@media (max-width: $screen-xs-max) {
		.navbar-nav > li > a { font-size: 12px; }
	}
	
	.navbar-collapse {
		overflow-x: hidden !important;
	}
	
	.navbar-nav {
		margin:0;
	}
	
	.navbar-brand, .navbar-nav > li > a, .nav > li > a {
		height: $navbar-height;
	}

	.navbar-nav > li > a, .nav > li > a {
		line-height: $navbar-line-height;
		padding-top: $navbar-padding-vertical;
		padding-bottom: $navbar-padding-vertical;
	}
	
	@media (max-width: $screen-xs-max) {
		&.navbar-default .navbar-nav .open .menu-item.dropdown-menu {
			position: fixed;
			top: calc(#{$navbar-height} + 1px);
			left: 0;
			right: 0;
			background-color: $navbar-default-bg;
			border-radius: 0;
			float: left;
			border-bottom: 1px solid #ccc;
			border-bottom: 1px solid rgba(0, 0, 0, 0.15);
			> li { padding: 5px 0; }
			> li.active { background-color: #5D9CEC; }
			> li.active > a {
				color: #fff;
				background-color: #5D9CEC;
			}
			> li > a {
				//padding: 3px 20px;
				//line-height: 1.42857;
				color: #333333;
			}
		}
	}
	
	.split-dropdown {
		&:hover {
			background-color: lighten($navbar-default-link-hover-bg, 5%);
		}
		&.active {
			//background-color: $navbar-default-link-active-bg;
		}
		> a {
			display: inline-block; /* required to display both a's in the same line */
			&:nth-of-type(1) {
				padding-right: 8px;
			}
			&:nth-of-type(2) {
				padding-left: 0;
				&::before {
					content: "|";
					margin-right:5px;
				}
			}
		}
	}
	
	.navbar-brand {
		//padding: 10px;
		&:hover, &:focus {
			background-color: transparent !important;
		}
		svg {
			height: 100%;
			#logo {
				stroke: $navbar-default-color;
			}
		}
		&:hover svg #logo {
			stroke: $navbar-default-color;
		}
	}
	
	/* profile picture in navbar */
	.navbar-profile {
		display:flex !important;
		align-items: center;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.header-profile-image {
		opacity: 0.8;
		height: 28px;
		width: 28px;
		border-radius: 50%;
		margin-right: 5px;
	}
	.open .header-profile-image,
	a:hover .header-profile-image {
		opacity: 1;
	}
	
}
