
pw-navbar {

	.navbar-collapse {
		overflow-x: hidden !important;
	}
	
	.navbar-brand, .navbar-nav > li > a, .nav > li > a {
		height: $navbar-height;
	}

	.navbar-nav > li > a, .nav > li > a {
		line-height: $navbar-line-height;
		padding-top: $navbar-padding-vertical;
		padding-bottom: $navbar-padding-vertical;
	}
	
	.navbar-brand {
		padding: 10px;
		svg {
			height: 100%;
			#logo {
				stroke: $navbar-default-color;
			}
		}
		&:hover svg #logo {
			stroke: $navbar-default-color;
		}
	}
	
}

