
pw-navbar {

	.navbar-collapse {
		overflow-x: hidden !important;
	}
	
	.navbar-nav {
		margin:0;
	}
	
	.navbar-nav > li, .nav > li {
		//border-left: 1px solid $navbar-default-bg;
	}
	
	.navbar-brand, .navbar-nav > li > a, .nav > li > a {
		height: $navbar-height;
	}

	.navbar-nav > li > a, .nav > li > a {
		line-height: $navbar-line-height;
		padding-top: $navbar-padding-vertical;
		padding-bottom: $navbar-padding-vertical;
	}
	
	.split-dropdown {
		&:hover {
			background-color: lighten($navbar-default-link-hover-bg, 5%);
		}
		&.active {
			//background-color: $navbar-default-link-active-bg;
		}
		> a {
			display: inline-block; /* required to display both a's in the same line */
			&:nth-of-type(1) {
				padding-right: 8px;
			}
			&:nth-of-type(2) {
				padding-left: 0;
				&::before {
					content: "|";
					margin-right:5px;
				}
			}
		}
	}
	
	.navbar-brand {
		padding: 10px;
		svg {
			height: 100%;
			#logo {
				stroke: $navbar-default-color;
			}
		}
		&:hover svg #logo {
			stroke: $navbar-default-color;
		}
	}
	
	/* profile picture in navbar */
	.navbar-profile {
		display:flex !important;
		align-items: center;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.header-profile-image {
		opacity: 0.8;
		height: 28px;
		width: 28px;
		border-radius: 50%;
		margin-right: 5px;
	}
	.open .header-profile-image,
	a:hover .header-profile-image {
		opacity: 1;
	}
	
}
