	
	$icon-bar-width: 22px;
	$icon-dot-width: 3px;
	
	pw-navbar .navbar-toggle, pw-navbar .navbar-button-toggle, pw-aside .sidebar-toggle {
		
		height: $navbar-height;
		width: $navbar-height;
		margin: 0;
		padding: $navbar-padding-vertical 0px;
		border: 0;
		outline: 0;
		border-radius: 0;
		background: transparent;
		
		&.active {
			color: $navbar-default-link-hover-color;
			background-color: $navbar-default-link-hover-bg;
		}
		
		.icon-bar, .icon-dot {
			display: block;
			background: $navbar-default-toggle-icon-bar-bg;
		}
		
		.icon-bar {
			height: 1px;
			width: $icon-bar-width;
			margin: 0 calc((#{$navbar-height} - #{$icon-bar-width})/2);
			+ .icon-bar { margin-top: 4px; }
		}
		.icon-dot {
			height: $icon-dot-width;
			width:  $icon-dot-width;
			border-radius: $icon-dot-width;
			margin: 0 calc((#{$navbar-height} - #{$icon-dot-width})/2);
			+ .icon-dot { margin-top: 3px; }
		}
		
		
	}
	
	pw-navbar .icon-navbar-toggle {
		height: $navbar-height;
		//width: $navbar-height;
		margin: 0;
		padding: $navbar-padding-vertical 0px;
		border: 0;
		outline: 0;
		border-radius: 0;
		
		&.active {
			color: $navbar-default-link-hover-color;
			background-color: $navbar-default-link-hover-bg;
		}
		
		.icon-bar, .icon-dot {
			display: block;
			background: $navbar-default-toggle-icon-bar-bg;
		}
		
		.icon-bar {
			height: 2px;
			width: $icon-bar-width;
			margin: 0 calc((#{$navbar-height} - #{$icon-bar-width})/2);
			margin-top: 4px;
		}
		
	}