	
	<!--
	<ul class="nav navbar-nav pull-left ng-animate-disabled hidden-lg" pw-in-header="notCollapsed">
		<li class="icon-navbar-toggle pull-left" ng-class="{active: !isAsideCollapsed}" ng-click="toggleAsideCollapse()">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</li>
	</ul>
	-->
	
	<button type="button" class="navbar-button-toggle hidden-lg" ng-class="{active: !$ctrl.pwArticleView.isAsideCollapsed}" 
			    pw-in-header="notCollapsedRight" ng-click="$ctrl.pwArticleView.toggleAsideCollapsed()">
		<span class="icon-dot"></span>
		<span class="icon-dot"></span>
		<span class="icon-dot"></span>
	</button>
	
	<ul class="nav navbar-nav pull-left ng-animate-disabled" pw-in-header="notCollapsed">
		<li class="pull-left"><a ui-sref="app.articles.list( $ctrl.listQuery )">
			<i class="fa fa-fw fa-arrow-left"></i>
		</a></li>
	</ul>
	
	<ul class="nav navbar-nav pull-left ng-animate-disabled" pw-in-header="notCollapsed" ng-show='$ctrl.pwArticleView.isAuthor'>

		<li class="pull-left" ng-click="$ctrl.pwArticleView.toggleEditMode()">
			<a ng-show='$ctrl.pwArticleView.isEditMode'><i class="fa fa-fw fa-check" ></i></a>
			<a ng-show='!$ctrl.pwArticleView.isEditMode'><i class="fa fa-fw fa-pencil"></i></a>
		</li>
		
		<li class="pull-left" ng-show='$ctrl.pwArticleView.isEditMode' ng-click="$ctrl.pwArticleView.toggleSlide()">
			<a ng-show='$ctrl.article.isSlide' ><i class="fa fa-fw fa-television" ></i></a>
			<a ng-show='!$ctrl.article.isSlide'><i class="fa fa-fw fa-newspaper-o"></i></a>
		</li>
		
		<li class="pull-left" ng-show='$ctrl.pwArticleView.isEditMode' ng-click="$ctrl.pwArticleView.togglePublic()">
			<a ng-show='$ctrl.article.isPublic' ><i class="fa fa-fw fa-unlock"></i></a>
			<a ng-show='!$ctrl.article.isPublic'><i class="fa fa-fw fa-lock"  ></i></a>
		</li>

	</ul>
	
	<ul class="nav navbar-nav pull-left ng-animate-disabled" pw-in-header="notCollapsed" ng-show='$ctrl.article.isSlide'>
		<li class="pull-left"><a ng-click="$ctrl.pwArticleView.toggleFullscreen()">
			<i class="fa fa-fw fa-arrows-alt"></i>
		</a></li>
	</ul>
	